<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade 1</title>
</head>
<body>
    <h1>Questão:</h1>
    <form action="/resultados" method="get">
        <input type="number" name="numero1" placeholder="Insira um número:"><br><br>
        <input type="number" name="numero2" placeholder="Insira outro número:"><br><br>
        <button type="submit">Calcular</button>
    </form>
</body>
</html>